workflows/Error_Workflow_a4RUfeeV2h9AYXg3.json
{"updatedAt":"2025-11-09T22:20:52.477Z","createdAt":"2025-10-24T15:35:15.445Z","id":"a4RUfeeV2h9AYXg3","name":"Error Workflow","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,-80],"id":"89dc7412-0472-4134-bc7d-36451f73baca","name":"Error Trigger"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[480,16],"id":"b24d678e-e2c4-4f0a-88f1-4921add59711","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[480,-176],"id":"b445a28e-16fe-4f30-9de5-2a56473ed940","name":"No Operation, do nothing1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Csq-2YeCF-qjmgf-oLMekq_QqzSjs0VE3kVnZllloac","mode":"list","cachedResultName":"Martins Home Center Error Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Csq-2YeCF-qjmgf-oLMekq_QqzSjs0VE3kVnZllloac/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Csq-2YeCF-qjmgf-oLMekq_QqzSjs0VE3kVnZllloac/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $now.format('yyyy-MM-dd hh:mma') }}","Workflow":"={{ $json.workflow.name }}","URL":"={{ $json.execution.url }}","Error Message":"={{ $json.execution.error.message }}","Node":"={{ $json.execution.error.node.name }}"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Workflow","displayName":"Workflow","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Node","displayName":"Node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Message","displayName":"Error Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[256,-176],"id":"47106069-fa8c-473b-bd76-5761170fe02b","name":"Salvar Logs no Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"3sKce1sJ5409nKBx","name":"Google Sheets account 2"}}},{"parameters":{"chatId":"-1003166661492","text":"=Workflow Error: \n\n{{ $json.workflow.name }}\n\nNode que deu erro: \n\n*{{ $json.execution.error.node.name }}* \n\nTimestamp\n{{ $now.format('yyyy-MM-dd hh:mm:a') }}\n\nURL:\n\n{{ $json.execution.url }}\n\nVerifique agora mesmo. \n\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[256,16],"id":"2c9a881b-8cc1-4208-9776-bda475efc553","name":"Alerta no Telegram","webhookId":"91eb1313-86d9-4a9a-82f2-4847ba0e655f","credentials":{"telegramApi":{"id":"FkbXuR47qFbFPage","name":"Bot Alerta Operacao"}}},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[256,240],"id":"edb33473-4e77-4fc5-9936-e6c34931be83","name":"n8n Trigger1"},{"parameters":{"workflowId":{"__rl":true,"value":"Lt4Bo8QedTna0kLO","mode":"list","cachedResultUrl":"/workflow/Lt4Bo8QedTna0kLO","cachedResultName":"N8N Backup"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[464,240],"id":"37ec8a92-a862-46e9-8cd9-ae4827ae8108","name":"Call 'N8N Backup'"}],"connections":{"Error Trigger":{"main":[[{"node":"Salvar Logs no Google Sheets","type":"main","index":0},{"node":"Alerta no Telegram","type":"main","index":0}]]},"Salvar Logs no Google Sheets":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Alerta no Telegram":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"n8n Trigger1":{"main":[[{"node":"Call 'N8N Backup'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d1f759a1-6f1d-47ef-a433-3d6b7801dabf","versionCounter":7,"triggerCount":1,"shared":[{"updatedAt":"2025-10-24T15:35:15.445Z","createdAt":"2025-10-24T15:35:15.445Z","role":"workflow:owner","workflowId":"a4RUfeeV2h9AYXg3","projectId":"DPkZZxdXREu3no0d","project":{"updatedAt":"2025-09-25T17:08:30.868Z","createdAt":"2025-09-25T17:05:29.666Z","id":"DPkZZxdXREu3no0d","name":"Luan Celi <luan-34@hotmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-09-25T17:05:29.666Z","createdAt":"2025-09-25T17:05:29.666Z","userId":"6264003c-3c00-4417-a1a9-2d1530976e87","projectId":"DPkZZxdXREu3no0d","user":{"updatedAt":"2025-11-09T17:59:11.155Z","createdAt":"2025-09-25T17:05:26.688Z","id":"6264003c-3c00-4417-a1a9-2d1530976e87","email":"luan-34@hotmail.com","firstName":"Luan","lastName":"Celi","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-25T17:08:37.526Z","personalization_survey_n8n_version":"1.112.5"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"Lt4Bo8QedTna0kLO","userActivatedAt":1762711151103,"npsSurvey":{"responded":true,"lastShownAt":1759683684232}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-09","isPending":false}}]}}],"tags":[{"updatedAt":"2025-09-28T12:53:50.319Z","createdAt":"2025-09-28T12:53:50.319Z","id":"LY80s4XusfeFNQeq","name":"Martins Home Center"}]}