workflows/Notifica_o_Cliente_da_Consulta_no_Whatsapp_uinDG3hqBVQvy8Jr.json
{"updatedAt":"2025-11-09T19:04:46.434Z","createdAt":"2025-09-30T11:34:12.709Z","id":"uinDG3hqBVQvy8Jr","name":"Notifica o Cliente da Consulta no Whatsapp","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"update","tableId":"consultas_estoque","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.consultaId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_consulta","fieldValue":"={{ $json.status_consulta }}"},{"fieldId":"observacoes","fieldValue":"={{ $json.observacoes }}"},{"fieldId":"urls_fotos","fieldValue":"={{ $json.urls_fotos }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-608,400],"id":"220f9361-86a4-4a9a-b4e8-73827feaf9fe","name":"Atualizar Consulta com Resposta","credentials":{"supabaseApi":{"id":"qSrypda3s7HotNKf","name":"Supabase Home Center"}}},{"parameters":{"jsCode":"const fields = $input.item.json.body.data.fields;\n\n// --- BUSCA PELO ID DA CONSULTA USANDO A KEY (MAIS SEGURO) ---\nconst consultaIdField = fields.find(f => f.key === \"question_N7zBXN_1b48f34f-c04f-481d-abd2-a260a548f927\");\nconst consultaId = consultaIdField ? consultaIdField.value : null;\n\n// --- BUSCA PELO STATUS ---\nconst statusField = fields.find(f => f.key === \"question_xJ8yDv\");\nlet statusValue = null;\nif (statusField && statusField.value && statusField.value.length > 0) {\n  const selectedOptionId = statusField.value[0];\n  const selectedOption = statusField.options.find(opt => opt.id === selectedOptionId);\n  statusValue = selectedOption ? selectedOption.text : null;\n}\n\n// --- BUSCA PELO NOME DO PRODUTO ---\nconst nomeProdutoField = fields.find(f => f.key === \"question_POvj0e\");\nconst nomeProduto = nomeProdutoField ? nomeProdutoField.value : null;\n\n// --- BUSCA PELO PREÇO ---\nconst precoField = fields.find(f => f.key === \"question_Y4EpLB\");\nconst preco = precoField ? precoField.value : null;\n\n// --- BUSCA PELAS OBSERVAÇÕES ---\nconst observacoesField = fields.find(f => f.label && f.label.trim() === \"Observações\");\nconst observacoesValue = observacoesField ? observacoesField.value : \"\";\n\n// --- BUSCA PELAS FOTOS ---\nconst fotoFields = fields.filter(f => f.type === \"FILE_UPLOAD\" && f.value && f.value.length > 0);\nconst urlsFotos = fotoFields.flatMap(field => field.value.map(file => file.url));\n\n// --- RETORNO COM TODOS OS DADOS ---\nreturn {\n  consultaId: consultaId,\n  status_consulta: statusValue,\n  nome_produto: nomeProduto,\n  preco: preco,\n  observacoes: observacoesValue,\n  urls_fotos: urlsFotos\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,80],"id":"c2ce3710-349f-4fc4-8f39-bc6ae2e9e946","name":"Extrair e Formatar Dados do Tally"},{"parameters":{"httpMethod":"POST","path":"ffa7190f-72d7-414c-82e3-1352db0c31e4","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1056,80],"id":"b8eba9e6-a91b-442c-9862-f2aa09d9a92e","name":"Formulario Tally","webhookId":"ffa7190f-72d7-414c-82e3-1352db0c31e4"},{"parameters":{"promptType":"define","text":"=Disponibilidade do pedido: {{ $('Extrair e Formatar Dados do Tally').item.json.status_consulta }}\nProduto: {{ $('Extrair e Formatar Dados do Tally').item.json.nome_produto }}\nPreço: R${{ $('Extrair e Formatar Dados do Tally').item.json.preco }}\nObservações: {{ $('Extrair e Formatar Dados do Tally').item.json.observacoes }}","options":{"systemMessage":"=Você é um assistente de vendas da Martins Home Center. Sua missão é pegar anotações internas de um funcionário do estoque e reescrevê-las como uma mensagem de WhatsApp amigável, clara e profissional para um cliente.\n\nREGRAS CRÍTICAS:\n- NUNCA simplesmente copie e cole as anotações. Você deve SEMPRE reformulá-las para um tom de conversa natural.\n- Use parágrafos curtos e emojis para facilitar a leitura.\n- Se a anotação incluir um preço ou promoção, destaque essa informação de forma atraente.\n- Se a anotação for negativa (ex: \"sem estoque\", \"indisponível\"), mantenha um tom prestativo, peça desculpas pelo inconveniente e ofereça ajuda para encontrar uma alternativa ou para avisar quando o produto chegar.\n- No final, sempre inclua uma pergunta ou um chamado para ação para incentivar a resposta do cliente (ex: \"Posso ajudar com mais alguma coisa?\", \"Quer que eu já separe para você?\").\n- Responda APENAS com o texto final da mensagem para o cliente, sem nenhuma outra explicação."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-128,400],"id":"c905dec4-ee3d-4606-b4b0-1c2748b382c2","name":"Responde o Cliente"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-176,592],"id":"30afbabe-32a3-4f51-acd3-3fbbff8f9c34","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"jnW5G3CmglgzLXHa","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.numero_whatsapp }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-32,592],"id":"d4d2bcb3-eec0-4fdd-a363-a65a2aa92cfc","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"aQyiYgbnb4ZvLcYO","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3E3C07A8FE0CC0F0CBA94AF116590B15/token/6987F7A50043E97561E24488/send-text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F5c2e07cda75d4370a6f8cd0b3b3cbcefS"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Pega Numero Whatsapp').item.json.numero_whatsapp }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,400],"id":"aedc0400-0bf2-44d2-8dfb-d9009f34ea0d","name":"(Z-API) Enviar Mensagem","credentials":{"httpHeaderAuth":{"id":"tAKBONIcocVsq90H","name":"Mistral OCR"}}},{"parameters":{"fieldToSplitOut":"urls_fotos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-608,80],"id":"c4a32e05-a954-4dd0-bd61-2a7f5bd8bafd","name":"Separar URLs"},{"parameters":{"url":"={{ $json.urls_fotos }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,80],"id":"68f7af50-4c60-4944-bdcc-441a7080a431","name":"Baixar Imagem"},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3E3C07A8FE0CC0F0CBA94AF116590B15/token/6987F7A50043E97561E24488/send-image","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"Feb3836929fc64722a0c0f6ae0130021cS"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Pega Numero Whatsapp1').item.json.numero_whatsapp }}"},{"name":"image","value":"={{ $json.base64 }}"},{"name":"caption","value":"={{ $('Formulario Tally').item.json.body.data.fields[4].value }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,80],"id":"dbd99adf-cc63-4ab3-be2f-cf925b83a7b1","name":"(Z-API) Enviar Imagem","credentials":{"httpHeaderAuth":{"id":"tAKBONIcocVsq90H","name":"Mistral OCR"}}},{"parameters":{"operation":"binaryToPropery","destinationKey":"image_base64","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-176,80],"id":"cb9330ec-d3f7-4685-8e2f-f27f7e3a83c5","name":"Imagem para Base64"},{"parameters":{"content":"## Gatilho\n","height":800,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1152,-64],"typeVersion":1,"id":"ca3a8701-ca50-4e3b-83ad-10d0a37eacbc","name":"Sticky Note"},{"parameters":{"operation":"get","tableId":"clientes","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.cliente_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-384,400],"id":"e2605a76-58ac-4285-a844-8c0f680db069","name":"Pega Numero Whatsapp","credentials":{"supabaseApi":{"id":"qSrypda3s7HotNKf","name":"Supabase Home Center"}}},{"parameters":{"operation":"get","tableId":"consultas_estoque","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Extrair e Formatar Dados do Tally').item.json.consultaId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[16,80],"id":"c291031a-416b-4be7-9f7c-25aa68b0f766","name":"Pega cliente Id1","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"qSrypda3s7HotNKf","name":"Supabase Home Center"}}},{"parameters":{"operation":"get","tableId":"clientes","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.cliente_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,80],"id":"f2d7d505-07f7-43eb-b710-f73bd191ee60","name":"Pega Numero Whatsapp1","credentials":{"supabaseApi":{"id":"qSrypda3s7HotNKf","name":"Supabase Home Center"}}},{"parameters":{"assignments":{"assignments":[{"id":"32e6d10e-c2fd-43b0-9258-734d81dcd5cc","name":"base64","value":"=data:image/png;base64,{{ $('Imagem para Base64').item.json.image_base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,80],"id":"691eab55-abf6-4ade-9f2c-e3d38a378c84","name":"Formata URL Base64"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[416,400],"id":"91a97232-2152-4072-9686-52729869e1e6","name":"Fim do fluxo"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[832,80],"id":"1e056d01-cde4-4349-b260-99e940768f63","name":"Fim do fluxo1"},{"parameters":{"content":"## Envia imagens para o usuário\n","height":320,"width":1984},"type":"n8n-nodes-base.stickyNote","position":[-896,-64],"typeVersion":1,"id":"ee8edb25-5a37-4b3c-9c28-8394bbc6a652","name":"Sticky Note2"},{"parameters":{"content":"## Envia o contexto da requisição da consulta do estoque\n\n","height":464,"width":1984,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-896,272],"typeVersion":1,"id":"8b50b038-173b-4c22-92f5-3a1ad26f7a9e","name":"Sticky Note3"},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-1136,896],"id":"9126c085-fd7e-4048-944b-7a60e8fe918a","name":"n8n Trigger1"},{"parameters":{"workflowId":{"__rl":true,"value":"Lt4Bo8QedTna0kLO","mode":"list","cachedResultUrl":"/workflow/Lt4Bo8QedTna0kLO","cachedResultName":"N8N Backup"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-928,896],"id":"bbcc6192-892b-4359-aa6b-6a20c0ad1fb8","name":"Call 'N8N Backup'"}],"connections":{"Extrair e Formatar Dados do Tally":{"main":[[{"node":"Atualizar Consulta com Resposta","type":"main","index":0},{"node":"Separar URLs","type":"main","index":0}]]},"Formulario Tally":{"main":[[{"node":"Extrair e Formatar Dados do Tally","type":"main","index":0}]]},"Atualizar Consulta com Resposta":{"main":[[{"node":"Pega Numero Whatsapp","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Responde o Cliente","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Responde o Cliente","type":"ai_memory","index":0}]]},"(Z-API) Enviar Mensagem":{"main":[[{"node":"Fim do fluxo","type":"main","index":0}]]},"Separar URLs":{"main":[[{"node":"Baixar Imagem","type":"main","index":0}]]},"Baixar Imagem":{"main":[[{"node":"Imagem para Base64","type":"main","index":0}]]},"Imagem para Base64":{"main":[[{"node":"Pega cliente Id1","type":"main","index":0}]]},"Responde o Cliente":{"main":[[{"node":"(Z-API) Enviar Mensagem","type":"main","index":0}]]},"(Z-API) Enviar Imagem":{"main":[[{"node":"Fim do fluxo1","type":"main","index":0}]]},"Pega Numero Whatsapp":{"main":[[{"node":"Responde o Cliente","type":"main","index":0}]]},"Pega cliente Id1":{"main":[[{"node":"Pega Numero Whatsapp1","type":"main","index":0}]]},"Pega Numero Whatsapp1":{"main":[[{"node":"Formata URL Base64","type":"main","index":0}]]},"Formata URL Base64":{"main":[[{"node":"(Z-API) Enviar Imagem","type":"main","index":0}]]},"n8n Trigger1":{"main":[[{"node":"Call 'N8N Backup'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"a4RUfeeV2h9AYXg3"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Formulario Tally":[{"json":{"headers":{"host":"primary-production-7f1d.up.railway.app","user-agent":"Tally Webhooks","content-length":"1904","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","baggage":"sentry-environment=production,sentry-release=354de55707154a32203a8478ba24233961c7ca7d,sentry-public_key=6af4b6673f1648edaa8fef3f2ca43405,sentry-trace_id=72ebec6d6c3e3ae58e99e1206a263511,sentry-org_id=407628,sentry-sampled=false,sentry-sample_rand=0.6608254078682656,sentry-sample_rate=0.0001","content-type":"application/json","sentry-trace":"72ebec6d6c3e3ae58e99e1206a263511-54b3f9aa799d7d1b-0","x-forwarded-for":"34.96.62.143","x-forwarded-host":"primary-production-7f1d.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/europe-west4-drams3a","x-railway-request-id":"Nrvot4mOSViRYaaWN8N_Fg","x-real-ip":"34.96.62.143","x-request-start":"1762052802318"},"params":{},"query":{},"body":{"eventId":"d028f430-b846-483f-9bfe-68436883029b","eventType":"FORM_RESPONSE","createdAt":"2025-11-02T03:06:42.256Z","data":{"responseId":"689x0Ge","submissionId":"689x0Ge","respondentId":"pbrZzv8","formId":"3XXeE4","formName":"\nResposta de Consulta de Estoque\n","createdAt":"2025-11-02T03:06:42.000Z","fields":[{"key":"question_N7zBXN_1b48f34f-c04f-481d-abd2-a260a548f927","label":"consultaId","type":"HIDDEN_FIELDS","value":"600f4e78-d1e5-4f5e-a093-160c1d698dce"},{"key":"question_xJ8yDv","label":null,"type":"DROPDOWN","value":["98cdbce1-d744-4a8c-b574-f772b1e4f091"],"options":[{"id":"98cdbce1-d744-4a8c-b574-f772b1e4f091","text":"estoque_disponivel"},{"id":"0650c743-406a-4ec3-ae10-85b328220492","text":"estoque_indisponivel"},{"id":"c721e352-3772-4eee-aba2-002e51c871ac","text":"sugestao"}]},{"key":"question_POvj0e","label":"Nome do Produto","type":"INPUT_TEXT","value":"Revestimento Clássico Branco 30x60"},{"key":"question_Y4EpLB","label":"Preço","type":"INPUT_TEXT","value":"33,99"},{"key":"question_Z2bYOe","label":"\nObservações\n","type":"TEXTAREA","value":"Cada caixa por apenas R$33,99 na promoção enquanto durar o estoque. "},{"key":"question_N72YXO","label":"\n\nFotos dos produtos\n","type":"FILE_UPLOAD","value":null},{"key":"question_pDYWqB","label":null,"type":"FILE_UPLOAD","value":null},{"key":"question_19Qv0l","label":null,"type":"FILE_UPLOAD","value":null},{"key":"question_MEjYZA","label":null,"type":"FILE_UPLOAD","value":null},{"key":"question_JOEDjR","label":null,"type":"FILE_UPLOAD","value":null},{"key":"question_qR8Kpk","label":null,"type":"FILE_UPLOAD","value":null},{"key":"question_Q7NJXk","label":null,"type":"FILE_UPLOAD","value":null},{"key":"question_97AEa4","label":null,"type":"FILE_UPLOAD","value":null},{"key":"question_eag7po","label":null,"type":"FILE_UPLOAD","value":null},{"key":"question_W8aMgQ","label":null,"type":"FILE_UPLOAD","value":null}]}},"webhookUrl":"https://primary-production-7f1d.up.railway.app/webhook/ffa7190f-72d7-414c-82e3-1352db0c31e4","executionMode":"production"}}]},"versionId":"f662053a-38e7-4769-8dd1-34ac191e0155","versionCounter":5,"triggerCount":2,"shared":[{"updatedAt":"2025-09-30T11:34:12.709Z","createdAt":"2025-09-30T11:34:12.709Z","role":"workflow:owner","workflowId":"uinDG3hqBVQvy8Jr","projectId":"DPkZZxdXREu3no0d","project":{"updatedAt":"2025-09-25T17:08:30.868Z","createdAt":"2025-09-25T17:05:29.666Z","id":"DPkZZxdXREu3no0d","name":"Luan Celi <luan-34@hotmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-09-25T17:05:29.666Z","createdAt":"2025-09-25T17:05:29.666Z","userId":"6264003c-3c00-4417-a1a9-2d1530976e87","projectId":"DPkZZxdXREu3no0d","user":{"updatedAt":"2025-11-09T17:59:11.155Z","createdAt":"2025-09-25T17:05:26.688Z","id":"6264003c-3c00-4417-a1a9-2d1530976e87","email":"luan-34@hotmail.com","firstName":"Luan","lastName":"Celi","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-25T17:08:37.526Z","personalization_survey_n8n_version":"1.112.5"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"Lt4Bo8QedTna0kLO","userActivatedAt":1762711151103,"npsSurvey":{"responded":true,"lastShownAt":1759683684232}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-09","isPending":false}}]}}],"tags":[{"updatedAt":"2025-09-28T12:53:50.319Z","createdAt":"2025-09-28T12:53:50.319Z","id":"LY80s4XusfeFNQeq","name":"Martins Home Center"}]}