workflows/Notifica_Transferencia_Humana_Para_Equipe_U1NIan0VDq27SWCW.json
{"updatedAt":"2025-11-09T23:00:15.389Z","createdAt":"2025-10-01T15:01:14.881Z","id":"U1NIan0VDq27SWCW","name":"Notifica Transferencia Humana Para Equipe","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"numero_whatsapp"},{"name":"motivo_transferencia"},{"name":"id_conversa"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-176,0],"id":"61387a3a-1fd2-4a99-bd35-5f811e14a500","name":"When Executed by Another Workflow"},{"parameters":{"operation":"update","tableId":"conversas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id_conversa }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"transferido_humano"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[32,0],"id":"5f286ad7-30f4-47d0-8f54-a1eb80db4e9d","name":"Mudar Status da Conversa","credentials":{"supabaseApi":{"id":"qSrypda3s7HotNKf","name":"Supabase Home Center"}}},{"parameters":{"chatId":"-4964697309","text":"=🚨 ALERTA: TRANSFERÊNCIA PARA ATENDIMENTO HUMANO 🚨  \n\nUm cliente precisa de atenção imediata!  \n\n*Motivo da Transferência:* \n\n{{ $('When Executed by Another Workflow').item.json.motivo_transferencia }}\n\n*WhatsApp:* https://wa.me/{{ $json.numero_whatsapp_cliente }}\n\n*Clique no link e fale com o cliente*","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[240,0],"id":"310bf200-f87a-4412-a0f6-49298dbcdb82","name":"Notifica a Equipe","webhookId":"bc9f127e-26b2-4df0-8c51-a44cfe3ba151","credentials":{"telegramApi":{"id":"hsCTHAkoVnxauhv1","name":"Telegram account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[448,0],"id":"ffa7f9ab-13c2-42b2-803c-8c517d88d8c3","name":"Fluxo Acabou"},{"parameters":{"content":"## Notifica a equipe para atendimento humano e muda status do atendimento\n","height":320,"width":1008},"type":"n8n-nodes-base.stickyNote","position":[-320,-112],"typeVersion":1,"id":"4f5e2db9-14d1-4fa2-8b01-d7aa95f7348c","name":"Sticky Note"},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-176,288],"id":"5ff0cefa-c6fe-48fb-85d8-8e3942597384","name":"n8n Trigger1"},{"parameters":{"workflowId":{"__rl":true,"value":"Lt4Bo8QedTna0kLO","mode":"list","cachedResultUrl":"/workflow/Lt4Bo8QedTna0kLO","cachedResultName":"N8N Backup"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[32,288],"id":"69e2f05d-ef12-4d5a-831e-aba70c7cb90a","name":"Call 'N8N Backup'"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Mudar Status da Conversa","type":"main","index":0}]]},"Mudar Status da Conversa":{"main":[[{"node":"Notifica a Equipe","type":"main","index":0}]]},"Notifica a Equipe":{"main":[[{"node":"Fluxo Acabou","type":"main","index":0}]]},"n8n Trigger1":{"main":[[{"node":"Call 'N8N Backup'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"a4RUfeeV2h9AYXg3"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"numero_whatsapp":"5582981573263","motivo_transferencia":"solicitação do cliente","id_conversa":"efc9b41c-4c77-405d-91fe-6d357127d4ca"}}]},"versionId":"b3ec3dba-82b8-45e0-ba6b-bfb191be3841","versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2025-10-01T15:01:14.881Z","createdAt":"2025-10-01T15:01:14.881Z","role":"workflow:owner","workflowId":"U1NIan0VDq27SWCW","projectId":"DPkZZxdXREu3no0d","project":{"updatedAt":"2025-09-25T17:08:30.868Z","createdAt":"2025-09-25T17:05:29.666Z","id":"DPkZZxdXREu3no0d","name":"Luan Celi <luan-34@hotmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-09-25T17:05:29.666Z","createdAt":"2025-09-25T17:05:29.666Z","userId":"6264003c-3c00-4417-a1a9-2d1530976e87","projectId":"DPkZZxdXREu3no0d","user":{"updatedAt":"2025-11-09T17:59:11.155Z","createdAt":"2025-09-25T17:05:26.688Z","id":"6264003c-3c00-4417-a1a9-2d1530976e87","email":"luan-34@hotmail.com","firstName":"Luan","lastName":"Celi","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-25T17:08:37.526Z","personalization_survey_n8n_version":"1.112.5"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"Lt4Bo8QedTna0kLO","userActivatedAt":1762711151103,"npsSurvey":{"responded":true,"lastShownAt":1759683684232}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-09","isPending":false}}]}}],"tags":[{"updatedAt":"2025-09-28T12:53:50.319Z","createdAt":"2025-09-28T12:53:50.319Z","id":"LY80s4XusfeFNQeq","name":"Martins Home Center"}]}