workflows/Processar_Valida__o_PIX_qCyRObtuG56P6j2n.json
{"updatedAt":"2025-11-09T22:20:15.926Z","createdAt":"2025-10-23T15:54:09.968Z","id":"qCyRObtuG56P6j2n","name":"Processar Validação PIX","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Com Telegram Trigger, os dados vêm dentro de callback_query\nconst callbackData = $input.item.json.callback_query.data;\nconst [status, vendaId] = callbackData.split(':');\n\nreturn [{\n  json: {\n    venda_id: vendaId,\n    status_pagamento: status,\n    funcionario_nome: $input.item.json.callback_query.from.first_name,\n    funcionario_username: $input.item.json.callback_query.from.username || 'N/A',\n    funcionario_id: $input.item.json.callback_query.from.id,\n    chat_id: $input.item.json.callback_query.message.chat.id,\n    message_id: $input.item.json.callback_query.message.message_id,\n    callback_query_id: $input.item.json.callback_query.id,\n    timestamp: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"a0bf498a-2e0f-431f-92c9-f4598bc13444","name":"Extrair Dados do Botão"},{"parameters":{"operation":"update","tableId":"vendas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.venda_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_pagamento","fieldValue":"={{ $json.status_pagamento }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[416,0],"id":"a0636d45-af36-4f32-864c-cc87f6ecd4ac","name":"Atualizar Status Pagamento","credentials":{"supabaseApi":{"id":"qSrypda3s7HotNKf","name":"Supabase Home Center"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1872,-176],"id":"baf82b4d-6661-467e-a60b-1eecde243cbf","name":"No Operation, do nothing"},{"parameters":{"operation":"editMessageText","chatId":"={{ $('Extrair Dados do Botão').item.json.chat_id }}","messageId":"={{ $('Extrair Dados do Botão').item.json.message_id }}","text":"=💸 *NOVO COMPROVANTE PIX RECEBIDO!* 💸\n\n👤 *Cliente:* {{ $json.nome }}\n📄 *CPF:* {{ $json.cpf }}\n📱 *WhatsApp:* https://wa.me/{{ $json.numero_whatsapp }}\n\n💵 *Valor Total:* R$ {{ $('Atualizar Status Pagamento').item.json.valor_total }}\n\n📦 *Itens da Compra:*\n{{ $('Atualizar Status Pagamento').item.json.produtos }}\n\n🏠 *Endereço de Entrega:*\n{{ $json.rua }}, {{ $json.numero_endereco }}\n{{ $json.bairro }}\n📍 *Referência:* {{ $json.ponto_referencia }}\n\n📸 *Ver Comprovante:* \n{{ $('Atualizar Status Pagamento').item.json.comprovante_url }}\n\n⏰ *Data:* {{ $now.toFormat('dd/MM/yyyy HH:mm') }}\n\n✅ ✅ *AÇÃO CONFIRMADA *\n\nStatus atualizado para: *{{ $('Extrair Dados do Botão').item.json.status_pagamento }}*","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1024,0],"id":"aaa5c8c6-a79e-464b-b698-43cac3a44b4c","name":"Confirmar Ação","webhookId":"ec26b1fd-9fc2-4fb0-98a6-312d92a01949","credentials":{"telegramApi":{"id":"hsCTHAkoVnxauhv1","name":"Telegram account"}}},{"parameters":{"updates":["callback_query"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,0],"id":"154990d2-148b-4759-8973-b3bb2308d13a","name":"Telegram Trigger","webhookId":"badc1e60-153b-49e3-bbf7-56ed2542c0a7","credentials":{"telegramApi":{"id":"hsCTHAkoVnxauhv1","name":"Telegram account"}}},{"parameters":{"operation":"get","tableId":"conversas","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Atualizar Status Pagamento').item.json.conversa_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[640,0],"id":"e26d30fa-df6b-4e60-b51c-47362b4372f2","name":"Buscar Conversa","credentials":{"supabaseApi":{"id":"qSrypda3s7HotNKf","name":"Supabase Home Center"}}},{"parameters":{"operation":"get","tableId":"clientes","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $('Buscar Conversa').item.json.cliente_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[832,0],"id":"a812e7b1-ec53-4101-9edb-2e8e4f277188","name":"Buscar Cliente","credentials":{"supabaseApi":{"id":"qSrypda3s7HotNKf","name":"Supabase Home Center"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e08990cb-ade4-44ce-a497-6bef935b9c5a","leftValue":"={{ $('Atualizar Status Pagamento').item.json.status_pagamento }}","rightValue":"pago","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1232,0],"id":"cb7b280e-32bd-4039-889b-72d3937ae89a","name":"Status Pagamento"},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3E3C07A8FE0CC0F0CBA94AF116590B15/token/6987F7A50043E97561E24488/send-text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F5c2e07cda75d4370a6f8cd0b3b3cbcefS"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Buscar Cliente').item.json.numero_whatsapp }}"},{"name":"message","value":"=✅ Pagamento confirmado!\n\nOlá {{ $('Buscar Cliente').item.json.nome }}! Seu pagamento via PIX foi confirmado com sucesso. 🎉\n\nSeu pedido já está sendo preparado e logo será entregue.\n\nObrigado por comprar na Martins Home Center!"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1456,-176],"id":"925c1452-e4d9-4013-b0ee-52d751ec3817","name":"(Z-API) Enviar Mensagem","credentials":{"httpHeaderAuth":{"id":"tAKBONIcocVsq90H","name":"Mistral OCR"}}},{"parameters":{"method":"POST","url":"https://api.z-api.io/instances/3E3C07A8FE0CC0F0CBA94AF116590B15/token/6987F7A50043E97561E24488/send-text","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Client-Token","value":"F5c2e07cda75d4370a6f8cd0b3b3cbcefS"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone","value":"={{ $('Buscar Cliente').item.json.numero_whatsapp }}"},{"name":"message","value":"=⚠️ Identificamos um problema com seu pagamento via PIX.\n\nOlá {{ $('Buscar Cliente').item.json.nome }}, não se preocupe, nossa equipe entrará em contato para resolver essa questão.\n\nAguarde nosso retorno."}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1664,96],"id":"0b852fb6-b8b3-471f-8401-f44dee634f1d","name":"(Z-API) Enviar Mensagem1","credentials":{"httpHeaderAuth":{"id":"tAKBONIcocVsq90H","name":"Mistral OCR"}}},{"parameters":{"operation":"update","tableId":"vendas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Buscar Conversa').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status_pagamento","fieldValue":"pago"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1664,-176],"id":"97943ce1-6479-4b73-991b-599564cbc1d3","name":"Venda Concluida","credentials":{"supabaseApi":{"id":"qSrypda3s7HotNKf","name":"Supabase Home Center"}}},{"parameters":{"operation":"update","tableId":"conversas","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Buscar Conversa').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"transferido_humano"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1440,96],"id":"b11a46dd-3156-41cd-b2c6-0f6a8ce43b1b","name":"Transferir Humano","credentials":{"supabaseApi":{"id":"qSrypda3s7HotNKf","name":"Supabase Home Center"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1872,96],"id":"eb453b97-5f25-4520-b2cd-95c432c4655c","name":"No Operation, do nothing1"},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[48,272],"id":"79f21d2c-6d00-4ab7-b9d5-985b8384ba42","name":"n8n Trigger1"},{"parameters":{"workflowId":{"__rl":true,"value":"Lt4Bo8QedTna0kLO","mode":"list","cachedResultUrl":"/workflow/Lt4Bo8QedTna0kLO","cachedResultName":"N8N Backup"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[256,272],"id":"147e1c81-345f-48b5-8206-3fe8a731b542","name":"Call 'N8N Backup'"}],"connections":{"Extrair Dados do Botão":{"main":[[{"node":"Atualizar Status Pagamento","type":"main","index":0}]]},"Atualizar Status Pagamento":{"main":[[{"node":"Buscar Conversa","type":"main","index":0}]]},"Confirmar Ação":{"main":[[{"node":"Status Pagamento","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Extrair Dados do Botão","type":"main","index":0}]]},"Buscar Conversa":{"main":[[{"node":"Buscar Cliente","type":"main","index":0}]]},"Buscar Cliente":{"main":[[{"node":"Confirmar Ação","type":"main","index":0}]]},"Status Pagamento":{"main":[[{"node":"(Z-API) Enviar Mensagem","type":"main","index":0}],[{"node":"Transferir Humano","type":"main","index":0}]]},"(Z-API) Enviar Mensagem":{"main":[[{"node":"Venda Concluida","type":"main","index":0}]]},"Transferir Humano":{"main":[[{"node":"(Z-API) Enviar Mensagem1","type":"main","index":0}]]},"Venda Concluida":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"(Z-API) Enviar Mensagem1":{"main":[[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"n8n Trigger1":{"main":[[{"node":"Call 'N8N Backup'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"a4RUfeeV2h9AYXg3"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":231989994,"callback_query":{"id":"2581283667447110592","from":{"id":601001937,"is_bot":false,"first_name":"Luan","last_name":"Celi","username":"luanceli","language_code":"pt-br"},"message":{"message_id":167,"from":{"id":7998480420,"is_bot":true,"first_name":"Beep","username":"aitestagent12bot"},"chat":{"id":-4964697309,"title":"🚨ALERTAS DE ATENDIMENTO - MARTINS HOME CENTER🚨","type":"group","all_members_are_administrators":true,"accepted_gift_types":{"unlimited_gifts":false,"limited_gifts":false,"unique_gifts":false,"premium_subscription":false}},"date":1761254221,"text":"💸 NOVO COMPROVANTE PIX RECEBIDO! 💸\n\n👤 Cliente: Luan Celi\n📄 CPF: 11167808444\n📱 WhatsApp: https://wa.me/558281573263\n\n💵 Valor Total: R$ 300\n\n📦 Itens da Compra:\n1. Saco de Cimento Zebu 50kg - 10 un - R$30,00 cada\n\n🏠 Endereço de Entrega:\nHeliosvaldo Pereira Santos, 30\nHélio Jatoba\n📍 Referência: ponto de referencia mais próximo da região onde mora o cliente\n\n📸 Ver Comprovante: \nhttps://f004.backblazeb2.com/file/temp-file-download/instances/3E3C07A8FE0CC0F0CBA94AF116590B15/3A60F677BBFD98A71EDB/WFJxIYo3CaVf449mNqzKEQ==.jpg\n\n⏰ Data: 23/10/2025 18:17\n\n✅ Verifique o comprovante e confirme o pagamento!","entities":[{"offset":93,"length":26,"type":"url"},{"offset":386,"length":145,"type":"url"},{"offset":561,"length":47,"type":"bold"}],"link_preview_options":{"is_disabled":true},"reply_markup":{"inline_keyboard":[[{"text":"✅ Pagamento Confirmado","callback_data":"pago:6400d353-ba66-4906-8aeb-cd2d21ced9ba"},{"text":"❌ Problema no Pagamento","callback_data":"problema_pagamento:6400d353-ba66-4906-8aeb-cd2d21ced9ba"}]]}},"chat_instance":"-6176527485648555214","data":"pago:6400d353-ba66-4906-8aeb-cd2d21ced9ba"}}}]},"versionId":"5597d684-7ecb-4020-9426-123b6d5400d7","versionCounter":15,"triggerCount":2,"shared":[{"updatedAt":"2025-10-23T15:54:09.968Z","createdAt":"2025-10-23T15:54:09.968Z","role":"workflow:owner","workflowId":"qCyRObtuG56P6j2n","projectId":"DPkZZxdXREu3no0d","project":{"updatedAt":"2025-09-25T17:08:30.868Z","createdAt":"2025-09-25T17:05:29.666Z","id":"DPkZZxdXREu3no0d","name":"Luan Celi <luan-34@hotmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-09-25T17:05:29.666Z","createdAt":"2025-09-25T17:05:29.666Z","userId":"6264003c-3c00-4417-a1a9-2d1530976e87","projectId":"DPkZZxdXREu3no0d","user":{"updatedAt":"2025-11-09T17:59:11.155Z","createdAt":"2025-09-25T17:05:26.688Z","id":"6264003c-3c00-4417-a1a9-2d1530976e87","email":"luan-34@hotmail.com","firstName":"Luan","lastName":"Celi","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-25T17:08:37.526Z","personalization_survey_n8n_version":"1.112.5"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"Lt4Bo8QedTna0kLO","userActivatedAt":1762711151103,"npsSurvey":{"responded":true,"lastShownAt":1759683684232}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-09","isPending":false}}]}}],"tags":[{"updatedAt":"2025-09-28T12:53:50.319Z","createdAt":"2025-09-28T12:53:50.319Z","id":"LY80s4XusfeFNQeq","name":"Martins Home Center"}]}