workflows/Requisi__o_de_Consulta_e_Notifica__o_de_Estoque_hcX5gidVUJr8h3BE.json
{"updatedAt":"2025-11-09T20:53:05.230Z","createdAt":"2025-09-29T18:17:46.656Z","id":"hcX5gidVUJr8h3BE","name":"Requisição de Consulta e Notificação de Estoque","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ffc86d06-b628-44f6-9eed-6b46406f4143","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"51e1a24a-d285-4560-bc48-a485ba5c8e99","name":"Receber Nova Consulta","webhookId":"ffc86d06-b628-44f6-9eed-6b46406f4143"},{"parameters":{"assignments":{"assignments":[{"id":"b0672b4b-920e-414c-977b-a697c7df4c2c","name":"tallyUrl","value":"=https://tally.so/r/3XXeE4?consultaId={{ $json.body.record.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"1711c1f0-c7a3-4f81-9136-3fd3878768d7","name":"Construir URL do Tally"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[592,0],"id":"60a1f026-d7cf-40d9-9297-87c7bc25a7d8","name":"No Operation, do nothing"},{"parameters":{"chatId":"-4964697309","text":"=⚠️ CONSULTE O ESTOQUE ⚠️  \n\n*Foto:* {{ $('Receber Nova Consulta').item.json.body.record.urls_fotos[0] }}\n*Produto:* {{ $('Receber Nova Consulta').item.json.body.record.nome_produto }} \n*Quantidade Solicitada:* {{ $('Receber Nova Consulta').item.json.body.record.quantidade_solicitada }}  \nClique no botão abaixo para responder:","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"=✍️ Responder à Consulta","additionalFields":{"url":"={{ $json.tallyUrl }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[416,0],"id":"c3e61a4e-6080-4389-acf6-53ec85779a54","name":"Notificar Equipe","webhookId":"bda73ac1-78b9-4aa7-a9ad-f9c312ce47c6","credentials":{"telegramApi":{"id":"hsCTHAkoVnxauhv1","name":"Telegram account"}}},{"parameters":{"content":"## Notifica toda a equipe diretamente no Telegram\n","height":352,"width":928},"type":"n8n-nodes-base.stickyNote","position":[-96,-112],"typeVersion":1,"id":"af1129fc-cb0e-4240-8ea4-e5294d7f4071","name":"Sticky Note"},{"parameters":{"events":["update"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-64,304],"id":"93bd2ca7-a937-4830-b6df-0f4dd7d6b128","name":"n8n Trigger1"},{"parameters":{"workflowId":{"__rl":true,"value":"Lt4Bo8QedTna0kLO","mode":"list","cachedResultUrl":"/workflow/Lt4Bo8QedTna0kLO","cachedResultName":"N8N Backup"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[144,304],"id":"77b7f594-6673-4bf5-a769-41e57f130b78","name":"Call 'N8N Backup'"}],"connections":{"Receber Nova Consulta":{"main":[[{"node":"Construir URL do Tally","type":"main","index":0}]]},"Construir URL do Tally":{"main":[[{"node":"Notificar Equipe","type":"main","index":0}]]},"Notificar Equipe":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"n8n Trigger1":{"main":[[{"node":"Call 'N8N Backup'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"a4RUfeeV2h9AYXg3"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Receber Nova Consulta":[{"json":{"headers":{"host":"primary-production-7f1d.up.railway.app","user-agent":"pg_net/0.14.0","content-length":"677","accept":"*/*","content-type":"application/json","x-forwarded-for":"54.207.125.123","x-forwarded-host":"primary-production-7f1d.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-east4-eqdc4a","x-railway-request-id":"TDSPBtXXT7SjfpsTPvyhXg","x-real-ip":"54.207.125.123","x-request-start":"1762051462791","accept-encoding":"gzip"},"params":{},"query":{"Content-Type":"application/json"},"body":{"type":"INSERT","table":"consultas_estoque","record":{"id":"600f4e78-d1e5-4f5e-a093-160c1d698dce","cliente_id":"9588e560-d307-4341-9eb9-47ea6d9e03c3","urls_fotos":["https://f004.backblazeb2.com/file/temp-file-download/instances/3E3C07A8FE0CC0F0CBA94AF116590B15/3A3B1D6F4B283028725A/yHHiWGFP5C3-6U2nmTLilw==.jpg"],"conversa_id":"ab783a8f-b2a4-4fdc-ab7e-0848f7205416","observacoes":null,"nome_produto":"Revest Class BRC 30x60","preco_unitario":null,"status_consulta":"pendente_verificacao","data_solicitacao":"2025-11-02T02:44:20.623+00:00","data_resposta_humana":null,"quantidade_solicitada":1,"funcionario_responsavel_id":null},"schema":"public"},"webhookUrl":"https://primary-production-7f1d.up.railway.app/webhook/ffc86d06-b628-44f6-9eed-6b46406f4143","executionMode":"production"}}]},"versionId":"55b37936-6e4d-48de-babb-48be39183127","versionCounter":9,"triggerCount":2,"shared":[{"updatedAt":"2025-09-29T18:17:46.656Z","createdAt":"2025-09-29T18:17:46.656Z","role":"workflow:owner","workflowId":"hcX5gidVUJr8h3BE","projectId":"DPkZZxdXREu3no0d","project":{"updatedAt":"2025-09-25T17:08:30.868Z","createdAt":"2025-09-25T17:05:29.666Z","id":"DPkZZxdXREu3no0d","name":"Luan Celi <luan-34@hotmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-09-25T17:05:29.666Z","createdAt":"2025-09-25T17:05:29.666Z","userId":"6264003c-3c00-4417-a1a9-2d1530976e87","projectId":"DPkZZxdXREu3no0d","user":{"updatedAt":"2025-11-09T17:59:11.155Z","createdAt":"2025-09-25T17:05:26.688Z","id":"6264003c-3c00-4417-a1a9-2d1530976e87","email":"luan-34@hotmail.com","firstName":"Luan","lastName":"Celi","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-25T17:08:37.526Z","personalization_survey_n8n_version":"1.112.5"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"Lt4Bo8QedTna0kLO","userActivatedAt":1762711151103,"npsSurvey":{"responded":true,"lastShownAt":1759683684232}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-09","isPending":false}}]}}],"tags":[{"updatedAt":"2025-09-28T12:53:50.319Z","createdAt":"2025-09-28T12:53:50.319Z","id":"LY80s4XusfeFNQeq","name":"Martins Home Center"}]}